ENVIRONMENT=development
PROJECT_NAME=movies_auth

# --------------------
# App
# --------------------
SECRET_KEY="i-am-very-secret-key-dont-push-me-to-github"
APP_HOST=0.0.0.0
APP_PORT=5000
SUPERUSER_LOGIN=admin
SUPERUSER_PASSWORD=123qwe

# --------------------
# Postgres
# --------------------
POSTGRES_DB=auth_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=123qwe
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

# --------------------
# Redis
# --------------------
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# --------------------
# Jaeger
# --------------------
JAEGER_HOST=127.0.0.1
JAEGER_UDP_PORT=6831

# --------------------
# OAuth2.0
# --------------------
YANDEX_CLIENT_ID=str
YANDEX_CLIENT_SECRET=str
MAIL_CLIENT_ID=str
MAIL_CLIENT_SECRET=str
GOOGLE_CLIENT_ID=str
GOOGLE_CLIENT_SECRET=str
